@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #f9f9f7;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    background-color: #0d0d0d;
  }
}
